*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.blu{
    color:#03cbcd;
}
.home{
    padding: 0 10%;
    margin: auto;
    background-image:
    linear-gradient(to right,rgba(0, 172, 217, .1),rgba(105, 267, 251, .1)),
    url(im/Rectangle.png);
    background-repeat: no-repeat;
    background-position: right;

}
.home-content{
    padding: 2rem;
}
.home-heading{
    padding: 30px 10px;
    font-size: 45px;
    font-weight: bold;
}
.home-content{
    width:400px;
    padding: 50px 0px;
}
.home-button{
    width:500px ;
}
.btun{
    text-decoration: none;
    padding: 5px 20px;
    background: #03cbcd;
    color: #fff;
    border-radius: 2px;
}
.btn-out{
    text-decoration: none;
    padding: 5px 20px;
    border:1px solid  #03cbcd;
    color: #03cbcd;
    border-radius: 2px;
}
.patient{
    background: #fff;
    box-shadow: 0px 0px 20px rgb(185, 215, 240);
    padding-top: 30px;
    margin: -22px 10% 0;
}
.typ{
    padding: 0 30px;
}

/* SectionTwo WhyUs */
.YusContent {
    padding:40px 0 0 10%
}
.Yus-right{
    background-position:center !important;
    background-repeat:no-repeat !important;
    background-size: contain !important;
    background: url(im/stethoscope.png);
    height: 600px;
}

.box{
    margin: 5px;
    padding: 15px;
    cursor: pointer;
    min-height: 260px;
    border-radius: 5px;
    background: #fbfbfb;
    width: 250px !important;
    box-shadow: 0px 0px 22px #f3f3f3;

}
.Y-imgs{
    border-radius:50%;
    height: 50px;
    width: 50px;
    padding:2rem;
    z-index: 1;
    
}
.Y-img1{
    background: url(im/stethoscope-icon.png);
    background-color: rgb(204,247,248);
    background-position: center;
    background-repeat: no-repeat;
}
.Y-img2{
    background: url(im/ambulance.png);
    background-color: #f5c1db;
    background-position: center;
    background-repeat: no-repeat;
}
.Y-img3{
    background: url(im/first-aid-kit.png);
    background-color: #bbd0f8;
    background-position: center;
    background-repeat: no-repeat;
}
.Y-img4{
    background: url(im/medicine-icon.png);
    background-color: #f4e2a9;
    background-position: center;
    background-repeat: no-repeat;
}
.Experties{
    display: flex;
    flex-wrap:wrap ;
    max-width:750px;
    column-gap: 10px;
}

/* Section three (speciality) */
.spcl{
    background: url(im/speciality.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.specialBox{
    border-radius: 10px;
    /* margin:5px; */
    padding:10px 10px;
    box-shadow: 0px 0px 50px #d6d6f9;
    transition: all 0.3s;
    cursor: pointer;

}
.specialBox:hover{
    background: #11b6b8;
    transform: translate(0px, -15px);
    color: white;

}
.specialBox:hover > .special-img{
    filter: brightness(14.5) !important;

}
.specialBox1 > img{
       filter: invert(1);
       

}
.special-img{
    padding: 20px 0;
}

/* section four (((appointment)))*/

.appointment-heading{
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}
.centered-form{
    margin: auto;
    padding: 4rem 1rem;
    border-radius: 10px;
    margin-top: 30px;
    background: #effbfb;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
    width: 40rem;
}
@media  screen and (max-width:768px){
    .centered-form{
    width: 400px;
    margin: auto;
}
}
.centered-form .panel input{
    height: 3rem;
    margin-bottom:2rem;

}
.appointment-Btn-container{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.appointment-btn{
    padding:0rem 10rem;
    margin-bottom: 100px;
}

/* drSection */

.dr-blu{
    height:235px;
    width: 260px;
    background: #3fc8ca;
    position: absolute;
    border-radius: 1rem;
}
.dr-img{
    margin-top: -4rem;
    position: relative;
    height: 300px;
}
.pro-icon{
    border: 1px solid #555;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    color: #555;
    transition: 0.3s;
    min-width: 25px;
    min-height: 25px;
  

}
.pro-icon:hover{
    color: black;
}
.drs-cards{
    margin-top: 50px;
}
@media(max-width:768px){
    .dr-colum{
        margin-left: 50%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        transform: translate(-50%);
    }
}
.carousel-item{
    padding:5% 15%;
}
.indicat{
    background-color: #03cbcd !important;
}
.carousel-indicators li {
    background-color: #03cbcd !important;
}
/* footer */
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #194142;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #17a2b8;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
